.party-sidebar {
  background-color: #d5d5d5;
  height: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 76px);
}

.sidebar-icon {
  display: none;
  cursor: pointer;
}

.party-sidebar.navbar-is-open {
  top: 179px;
  max-height: calc(100vh - 179px);
}

@media screen and (max-width: 500px) {
  .party-sidebar ul {
    display: none;
  }
  .party-sidebar .sidebar-icon {
    display: block;
    position: fixed;
    top: 76px;
    left: 0;
    z-index: 10;
  }

  .party-sidebar.navbar-is-open .sidebar-icon {
    position: fixed;
    top: 179px;
    left: 2px;
  }

  .party-sidebar {
    position: absolute;
    max-width: 200px;
    top: 76px;
    left: 0px;
    max-height: calc(100vh - 76px);
  }

  .party-sidebar.responsive ul {
    display: grid;
    z-index: 1;
  }
}

@media screen and (max-width: 300px) {
  .party-sidebar {
    max-width: 100vw;
  }

  .party-sidebar.responsive {
    width: 100vw;
  }

  .party-sidebar-card {
    max-width: 200px;
  }
}
