.party-sidebar {
  background-color: #d5d5d5;
  height: 100%;
  overflow-y: scroll;
  max-height: calc(100vh - 76px);
}

.sidebar-icon {
  display: none;
  cursor: pointer;
}

.party-sidebar.navbar-is-open {
  top: 186px;
  max-height: calc(100vh - 186px);
}


@media screen and (max-width: 500px) {
  .party-sidebar ul{
    display: none;
  }
  .party-sidebar .sidebar-icon {
    display: block;
    position: absolute;
    top: 2px;
    left: 0;
    z-index: 2;
  }

  .party-sidebar.navbar-is-open .sidebar-icon {
    position: absolute;
    top: 2px;
    left: 2px;
  }

  .party-sidebar {
    position: absolute;
    max-width: 200px;
    top: 76px;
    left: 0px;
    max-height: calc(100vh - 76px);
  }

  .party-sidebar.responsive ul{
    display: grid;
    z-index: 1;
  }
}