.party-chat {
  width: calc(100vw - 250px - 200px);
  height: calc(100vh - 106px);
  margin-top: 30px;
  display: flex;
  flex-direction: column;
}

.party-chat.navbar-is-open {
  height: calc(100vh - 216px);
}

.chat-img-container {
  width: 30px;
  height: 30px;
}

.new-sender {
  margin-top: 1.0625rem;
}

.message-item {
  padding-top: 0.175rem;
  padding-right: 48px;
  margin-right: 10px;
  text-align: left;
}

.messages-list {
    max-width: calc(100vw - 250px - 200px - 15px - 30px);
    overscroll-behavior: contain;
    overflow-y: scroll;
}

.message-item:hover {
  background-color: #bcbcbc;
  border-radius: 15px;
}

.message-item {
  display: grid;
  grid-template-columns: 30px 1fr;
  grid-template-rows: 1fr;
}

.chat-user {
  padding-left: 5px;
  font-weight: bold;
}

.message-body {
  grid-column: 2;
  padding-left: 5px;
  overflow-wrap: break-word;
  width: 100%;
  white-space: pre-wrap;
  max-width: calc(100vw  - 200px - 250px - 18px - 40px - 30px)
}

.new-message-input-field {
  width: calc(100% - 6px);
  border-radius: 5px;
  max-width: 100%;
  min-height: 50px;
  resize: none;
}


@media screen and (max-width: 800px) {
  .party-chat {
    width: calc(100vw - 200px);
  }
  .messages-list {
    max-width: calc(100vw - 200px - 15px - 30px);
}
  .message-body{
    max-width: calc(100vw  - 200px - 18px - 40px - 30px)
  }
}

@media screen and (max-width: 500px) {
  .party-chat {
    width: 100vw;
  }
  .messages-list {
    max-width: calc(100vw - 15px - 30px);
}
  
  .message-body{
    max-width: calc(100vw  - 18px - 40px - 30px)
  }
}