.notification-card {
  width: 295px;
  min-height: 50px;
  display: grid;
  grid-template-columns: 15px 30px 1fr;
  padding: 2px;
  border: 1px solid #bcbcbc;
}

.info {
  display: flex;
  align-items: center;
  padding: 5px;
  font-size: 18px;
}

.notification-img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  object-fit: cover;
  align-self: center;
}

.notification-card:hover {
  background-color: #bcbcbc;
}

.dot {
  align-self: center;
  height: 10px;
  width: 10px;
  background-color: #4933ab;
  border-radius: 50%;
}

.read .dot {
  visibility: hidden;
}
