.party-panel {
  min-height: 100vh;
}

.party-panel-icon {
  display: none;
  cursor: pointer;
}


@media screen and (max-width: 800px) {
  .party-panel div:not(:last-child), .party-panel ul{
    display: none;
  }
  .party-panel .party-panel-icon {
    display: block;
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 5;
  }

  .party-panel.navbar-is-open .party-panel-icon {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .party-panel {
    position: absolute;
    max-width: 250px;
    top: 76px;
    right: 0px;
  }

  .party-panel.navbar-is-open {
    top: 186px;
  }
  .party-panel.responsive div:not(:last-child), .party-panel.responsive ul{
    display: block;
  }
}