@media screen and (max-width: 800px) {
  .party-panel div:not(:last-child), .party-panel ul{
    display: none;
  }
  .party-panel .party-panel-icon {
    position: absolute;
    top: 2px;
    right: 0;
    z-index: 2;
  }

  .party-panel.navbar-is-open .party-panel-icon {
    position: absolute;
    top: 2px;
    right: 2px;
  }

  .party-panel {
    position: absolute;
    max-width: 250px;
    top: 78px;
    right: 2px;
  }

  .party-panel.navbar-is-open {
    top: 188px;
  }
  .party-panel.responsive div:not(:last-child), .party-panel.responsive ul{
    display: block;
  }
}