.member-picture {
  width: auto;
}

.panel-party-members {
  margin: 0px;
  display: inline-block;
  padding: 10px;
  background-color: #d5d5d5;
}

.panel-party-members li {
  margin-top: 10px;
  margin-right: 10px;
  align-items: center;
  justify-items: left;
  display: grid;
  grid-template-columns: 1fr 7fr;
  grid-template-rows: 1fr 25px;
}

.member-name {
  padding-left: 5px;
  text-align: left;
}

.user-image-container {
  height: 100%;
  width: auto;
}

.requested-user-name {
  padding-left: 5px;
  text-align: left;
  grid-column: 2 / span 2;
}

.accept-user-button {
  grid-column: 1 / span 2;
  width: 100%;
  align-self: stretch;
  justify-self: stretch;

}

.reject-user-button {
  grid-column: 3 / span 1;
  width: 100%;
  align-self: stretch;
  justify-self: stretch;
}