.search-params-heading {
  display: inline-block;
  width: 90%;
}

.categories-display {
  background-color: #bcbcbc;
  margin-top: 10px;
  border-radius: 10px;
}

.open-modify-party {
  display: inline-block;
  cursor: pointer;
}

.categories-display .categories-list {
  padding-top: 5px;
  padding-bottom: 5px;
}
