.notifications-popup {
 position: absolute;
 
 max-width: 300px;
 right: 1px;
 background-color: #FAF9F6;
 z-index: 50;
}

.notifications-menu {
  max-height: 500px;
  overflow-y: scroll;
}


.notification-bell {
  position: relative;
}

.counter {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;

  position: absolute;
  top: -2px;
  right: -2px;
  color: white;
}

.arrow-wrapper {
  display: flex;
  align-items: center;
  justify-content: space-around;
  border: 1px solid #bcbcbc;
}

.arrow-wrapper:hover h1 {
  opacity: 1;
}

.arrow-wrapper .arrow {
  color: #4933ab;;
  cursor: pointer;
  display: block;
  align-items: flex-start;
  text-transform: uppercase;
  position: relative;
  transition: transform 0.3s;
}

.arrow-wrapper .arrow span {
  display: block;
  width: 3em;
  opacity: 0;
  transition: opacity 0.3s 0s;
  padding: 0 0.5em;
}
  
.arrow-wrapper .arrow:hover span {
    opacity: 1;
    transition: opacity 0.3s 0.1s;
}
  
.arrow-wrapper .arrow:before {
    content: '';
    display: block;
    border: solid #4933ab;;
    border-width: 2px 2px 0 0;
    position: absolute;
    top: 4px;
    width: 10px;
    height: 10px;
}
  
.arrow-wrapper .arrow.arrow--left:before {
    transform: rotate(-135deg);
    right: 0;
    transition: right 0.3s 0.2s;
  }
  .arrow-wrapper .arrow.arrow--left:hover:before {
    right: 100%;
    transition: right 0.3s;
  }
    
  .arrow-wrapper .arrow.arrow--right {
    text-align: right;
  }
  .arrow-wrapper .arrow.arrow--right:before {
    left: 0;
    transform: rotate(45deg);
    transition: left 0.3s 0.2s;
  }
  .arrow-wrapper .arrow.arrow--right:hover:before {
    left: 100%;
    transition: left 0.3s;
  }
  
  .arrow-wrapper .arrow:hover {
    transform: none;
  }
  .arrow-wrapper .arrow.disabled {
    visibility: hidden;
  }