.notifications-menu {
 position: absolute;
 max-height: 500px;
 max-width: 300px;
 right: 1px;
 background-color: #FAF9F6;
 overflow-y: scroll;
 z-index: 50;
}


.notification-bell {
  position: relative;
}

.counter {
  width: 5px;
  height: 5px;
  background-color: red;
  border-radius: 50%;
  padding: 5px;
  font-size: 12px;
  display: flex;
  align-items: center;

  position: absolute;
  top: -2px;
  right: -2px;
  color: white;
}