.user-profile-image-container {
  width: 50px;
  min-width: 50px;
  height: auto;
  border-radius: 10px;
}

.user-profile-image-container img {
  object-fit: cover;
  border-radius: 10px;
}

.user-profile-name {
  padding-left: 10px;
  margin: 0px;
}

.user-data {
  background-color: rgba(95, 77, 172, 0.7);
  padding: 5px;
  margin: 5px;
  margin-bottom: 10px;
  border-radius: 15px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.user-picture-and-name {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-flow: row wrap;
}

.user-data-container {
  display: flex;
  justify-content: center;
}

.parties {
  display: grid;
  grid-template-columns: repeat(auto-fit, 600px);
  grid-template-rows: 1fr;
  grid-gap: 10px;
  justify-content: space-around;
  align-content: center;
}

@media screen and (max-width: 600px) {
  .parties {
    grid-template-columns: repeat(auto-fit, 100%);
  }
}
