.party-page {
  display: grid;
  grid-template-columns: 200px 1fr 200px
}

.party-sidebar {
  grid-column: 1 / span 1;
}

.party-chat {
  grid-column: 2 / span 1;
}

.party-panel {
  grid-column: 3 / span 1;
}

@media screen and (max-width: 600px) {
  .party-page {
    display: block
  }
}